name: Build Ubuntu C++ Project

on:
    push:
        branches:
            - "**"

jobs:
    build-linux:
        runs-on: ubuntu-24.04
        env:
            BUILD_DIR: build
            ARTIFACT_DIR: artifacts

        steps:
            # checkout code
            - name: checkout repository
              uses: actions/checkout@v3

            # install dependencies
            - name: install dependencies
              run: |
                  sudo apt-get update
                  sudo apt-get install -y build-essential cmake git libgsl-dev libomp-dev

            # build Google Test
            - name: build Google Test
              run: |
                  cd $GITHUB_WORKSPACE
                  git clone https://github.com/google/googletest.git
                  cd googletest
                  mkdir build && cd build
                  cmake .. -DCMAKE_BUILD_TYPE=Release
                  make -j$(nproc)
                  sudo make install

            # build Google Benchmark
            - name: build Google Benchmark
              run: |
                  cd $GITHUB_WORKSPACE
                  git clone https://github.com/google/benchmark.git
                  cd benchmark
                  git clone https://github.com/google/googletest.git  # Required by Benchmark
                  mkdir build && cd build
                  cmake .. -DCMAKE_BUILD_TYPE=Release
                  make -j$(nproc)
                  sudo make install

            # make build directory and compile
            - name: configure and build application
              run: |
                  mkdir -p build
                  cd build
                  cmake .. -DCMAKE_CXX_FLAGS="-fopenmp" -DCMAKE_BUILD_TYPE=Release
                  cmake --build . --config Release

            # test application
            - name: run tests
              run: |
                  cd build
                  cd lib
                  ./unit
