name: Build Ubuntu C++ Project

on:
    push:
        branches:
            - "**"

jobs:
    build-linux:
        runs-on: ubuntu-24.04
        env:
            BUILD_DIR: build
            ARTIFACT_DIR: artifacts

        steps:
            # checkout code
            - name: checkout repository
              uses: actions/checkout@v3

            # install dependencies
            - name: install dependencies
              run: |
                  sudo apt-get update
                  sudo apt-get install -y build-essential cmake git libgsl-dev libgtest-dev libbenchmark-dev

                  # build google test
                  cd /usr/src/gtest
                  sudo cmake .
                  sudo make
                  sudo cp lib/*.a /usr/lib
                  echo "Google Test installed."

            # make build directory and compile
            - name: configure and build application
              run: |
                  mkdir -p build
                  cd build
                  cmake .. -DCMAKE_CXX_FLAGS="-fopenmp" -DCMAKE_BUILD_TYPE=Release
                  cmake --build . --config Release
