name: Build Ubuntu

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-linux:
    runs-on: ubuntu-24.04
    env:
      DEPS_DIR: ${{ github.workspace }}/deps
      BUILD_DIR: build
      ARTIFACT_DIR: artifacts

    steps:
      # checkout code
      - name: checkout repository
        uses: actions/checkout@v4

      # install dependencies
      - name: install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake git libomp-dev

      # cache third-party deps (GSL, GTest, Benchmark)
      - name: cache third-party deps
        id: cache-deps
        uses: actions/cache@v4
        with:
          path: ${{ env.DEPS_DIR }}
          key: deps-${{ runner.os }}-${{ hashFiles('.github/deps.txt') }}

      # build gsl
      - name: build GSL
        if: steps.cache-deps.outputs.cache-hit != 'true'
        run: |
          mkdir -p "$DEPS_DIR"
          cd $GITHUB_WORKSPACE
          git clone --depth 1 https://git.savannah.gnu.org/git/gsl.git
          cd gsl
          autoreconf -i
          ./configure \
            CFLAGS="-fPIC" \
            CXXFLAGS="-fPIC" \
            --enable-static \
            --disable-shared \
            --prefix="$DEPS_DIR"
          make -j$(nproc)
          make install

      # build Google Test
      - name: build Google Test
        if: steps.cache-deps.outputs.cache-hit != 'true'
        run: |
          mkdir -p "$DEPS_DIR"
          cd $GITHUB_WORKSPACE
          git clone --depth 1 https://github.com/google/googletest.git
          cd googletest
          mkdir build && cd build
          cmake .. \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_POSITION_INDEPENDENT_CODE=ON \
            -DCMAKE_INSTALL_PREFIX="$DEPS_DIR"
          make -j$(nproc)
          make install

      # build Google Benchmark
      - name: build Google Benchmark
        if: steps.cache-deps.outputs.cache-hit != 'true'
        run: |
          mkdir -p "$DEPS_DIR"
          cd $GITHUB_WORKSPACE
          git clone --depth 1 https://github.com/google/benchmark.git
          cd benchmark
          git clone --depth 1 https://github.com/google/googletest.git  # Required by Benchmark
          mkdir build && cd build
          cmake .. \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_POSITION_INDEPENDENT_CODE=ON \
            -DCMAKE_INSTALL_PREFIX="$DEPS_DIR"
          make -j$(nproc)
          make install

      # make build directory and compile
      - name: configure and build application
        run: |
          mkdir -p "$BUILD_DIR" && cd "$BUILD_DIR"
          cmake .. -DCMAKE_CXX_FLAGS="-fopenmp" -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=install -DCMAKE_PREFIX_PATH="${DEPS_DIR}"
          cmake --build . --target install -j$(nproc)

      # test application
      - name: run tests
        run: |
          ./"$BUILD_DIR"/lib/unit

      # prepare and upload artifacts (Linux)
      - name: prepare artifact folder
        run: |
          # create artifact folder
          mkdir -p "$ARTIFACT_DIR/unix"

          # project executables
          cp -v "$BUILD_DIR"/src/main "$ARTIFACT_DIR/unix"/
          cp -v "$BUILD_DIR"/lib/unit "$ARTIFACT_DIR/unix"/
          cp -v "$BUILD_DIR"/lib/benchmark "$ARTIFACT_DIR/unix"/

          # project libraries
          cp -rvL "$BUILD_DIR"/install/* "$ARTIFACT_DIR/unix"/

      - name: upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-binaries
          path: ${{ env.ARTIFACT_DIR }}
