name: Deploy Doxygen to GitHub Pages

on:
  push:
    # branches:
    #   - "main"
    # tags:
    #   - "v*"

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Doxygen
        run: |
          sudo apt-get update
          sudo apt-get install -y doxygen graphviz

      - name: Build docs
        run: |
          mkdir -p doxygen/html
          doxygen Doxyfile

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./doxygen/html

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
